* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    font-style: normal;
}


body {
    margin: auto;
    width: 1280px;
}


/*Voy a trabajar la barra de navegacion*/

/*Le quito el estilo a todos los enlaces*/
a {
    text-decoration: none;
    color: white;
}


/*Pongo estilos generales a la barra de navegacion y el espacio entre los div principales*/
header {
    background-color: #2B2A2B;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}




/*Ajusto el tamaño y el espacion entre las distintas paginas, tienda, suscripcion...*/
nav {
    font-size: 14px;
    display: flex;
    /*NO es util en la pagina principal, pero si en el resto de páginas para cuando meta el padding para la parte gris*/
    align-items: center;
    gap: 31.5px;
}

/*Pongo el espacio entre el telefono y boton de login*/
.phoneLogin {
    display: flex;
    gap: 24px;
    font-size: 14px;
    align-items: center;
}

/*Espacio entre el numero y el icono de telefono*/
.phone {
    display: flex;
    gap: 11px;
    align-items: center;
}


/*Ajusto el tamaño de la imagen de telefono*/
.phone img {
    width: 18px;
    height: 18px;
}



/*Ajusto cafedealtura.com y su icono*/
div a.linkweb {
    font-size: 23.4628px;
}



/*Hago un efecto de subrayado al hacer hover en el nav*/

/*Esto siempre esta en el codigo por lo que afecto al flexbox, es decir si le doy mas altura, se descuadra, aunque no se vea el subraydo es como si estuviera*/
/*Esto ultimo lo solucionamos facilmente cambiando el gap del flex del nav*/
nav a:after {
    content: "";
    display: flex;
    height: 1.5px;
    width: 100%;
    background: rgb(254, 254, 255);
    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    /*Hace que no aparezca */
    transition: transform 0.5s ease-in-out;
}


nav a:hover:after {
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
}


/*Doy estilo al boton de login*/

button.login {
    width: 130px;
    height: 40px;
    background-color: #515051;
    border-radius: 4px;
    color: white;
    border: none;
}

button.login:active {
    width: 130px;
    height: 40px;
    background-color: #d4cfd4;
    border-radius: 4px;
    color: white;
    border: none;
}


/*----------------------------------------------------*/

/*Empiezo de la planta a tu taza*/


/*Preparo el flexbox principal*/

section.white {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 486px;
}

/*Voy a prepara el flexbox del resto de elementos*/

section.white div.leftBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttonsTree {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


/*Pongo el estilo a los botones*/

.buttonsTree .one {
    background-color: #1F1815;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
    width: 168px;
    height: 40px;
    border-color: transparent;
}

.buttonsTree .one:active {
    background-color: #686362;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
    width: 168px;
    height: 40px;
    border-color: transparent;
}

.buttonsTree .two {
    width: 137px;
    height: 40px;
    background: #2A5B45;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-color: transparent;
    color: white;
}


.buttonsTree .two:active {
    width: 137px;
    height: 40px;
    background: #9abeae;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-color: transparent;
    color: white;
}

/*Voy a poner estilo al texto*/

.leftBox h2 {
    color: #2A5B45;
    font-size: 18px;
    line-height: 24px;
}

.leftBox h1 {
    font-size: 40px;
    line-height: 44px;
    width: 588px;
}

.leftBox p {
    font-size: 14px;
    line-height: 16px;
    width: 588px;
}


/*---------------------------*/

/*Me pongo con la seccion con el cafe de fondo*/


/*Pongo la imagen de fondo y la ajusto. Hago un flexbox para ajustar el titulo y las cajas */
.cafeFondo {
    background-image: url("../asset/cafeDeFondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/*Doy dimension al div que recoge las cajas blancas y con flexbox  ajusto las cajas entre ellas*/

.whiteboxes {
    display: flex;
    gap: 24px;
}

/*Doy dimensiones y color a las cajas blancas y con flexbox ajusto la caja verde el h3 y el p*/

.whitebox {
    width: 316px;
    height: 232px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    /*Es el espacio que quiero dejar entre el contenido de la caja blanca y la caja en si*/
    gap: 16px;
}

/*Ajusto los iconos y creo las cajas verdes*/

.greenbox {
    width: 64px;
    height: 64px;
    background: #2A5B45;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Doy estilo al texto*/

.whitebox p {
    font-size: 14px;
    line-height: 16px;
    width: 268px;
    height: 64px;
    text-align: center;
}

.whitebox h3 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.cafeFondo h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}


/*--------------------------------------------*/
/*Me pongo con la seccion de los sacos de cafe*/

section.white2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 42px;
}


div.products {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 391.39px;
}

div.sack {
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 24px;
    align-items: center;
    gap: 24px;
}


div.sack:hover {
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 24px;
    align-items: center;
    gap: 24px;
    background-color: #F7F5F3;
}

.sack:hover button.greenbutton {
    background-color: #2A5B45;
}


.verTodos a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
}

div.verTodos {
    display: flex;
    align-items: center;
    gap: 19px;
}



.white2 h2 {
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sack h5 {
    font-weight: 600;
    font-size: 14px;
}

.greenbutton {
    width: 60px;
    height: 32px;
    background-color: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: none;
}

div.sack button.greenbutton:active {
    width: 60px;
    height: 32px;
    background-color: rgba(138, 200, 172, 0.7);
    border-color: rgba(138, 200, 172, 0.7);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.sack p {
    font-weight: 400;
    font-size: 14px;
}

.verTodos img {
    width: 18px;
    height: 8px;
}



/*------------------------------------------------*/
/*Voy a hacer la seccion con el fondo verde*/


section.backgreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    gap: 30px;
    height: 621px;
    background: #2A5B45;
}


div.allquestion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



div.questionWhite {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    width: 668px;
    background: #F7F5F3;
    border-radius: 10px;
}


div.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.resolvemosDudas {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: white;
}

div.resolvemosDudas {
    display: flex;
    align-items: center;
    gap: 19px;
}


/*Trabajo el estilo del texto*/

.backgreen h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.question h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #2B2A2B;
}


/*------------------------------------*/

/*Aqui iria la parte que tiene la imagen del bar*/
/*Como tiene la misma estructura que la seccion de la planta a tu taza pues pongo la misma clase*/


/*----------------------------------------*/
/*Empezamos la seccion contacto*/

/*Pongo el fondo de toda la section y le doy un poco de pading a los lados*/
section.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3DED7;
    padding: 0px 40px 0px;
}


/*Alineo verticalmente todo al centro y le doy espacio entre los dos bloques de la derecha e izquierda  */
.maincontact {
    display: flex;
    align-items: center;
    gap: 24px;

}

/*Alineo la parte de la izquierda*/
div.contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 588px;
}

.contactstart {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.contactend {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.emailphone {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;

}


/*Alineo toda la parte de la derecha*/

.maincontact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #FFFFFF;
}

.allform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 55px 32px;
    gap: 24px;
}



.formquestion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    gap: 4px;
}

/*Separo el checkbox*/
.formquestion2 {
    display: flex;
    gap: 4px;
    width: 442px;
}




/*Doy estilo al enlace*/
a.linkform {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: black;
    text-decoration: underline;
}

/*Doy estilo a las p de la parte de la parte de la izquierda*/
.contact p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}

/*Ajusto los input*/
.formtext {
    width: 470px;
    height: 34px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}


.formtext:hover {
    width: 470px;
    height: 34px;
    border: 2px solid #3580f0;
    border-radius: 6px;
}

.formtext:focus {
    width: 470px;
    height: 34px;
    border: 2px solid #03cf14;
    border-radius: 6px;
    outline: none;
}

.formtextphone {
    width: 402px;
    height: 34px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


div select.idiom {
    width: 68px;
    height: 36px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    text-align: center;
}

textarea {
    width: 470px;
}

.greenbutton2 {
    width: 90px;
    height: 40px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    color: white;
    border: none;
}

.greenbutton2:hover {
    width: 90px;
    height: 40px;
    background: #2A5B45;
    border-radius: 4px;
    color: white;
    border: none;
}

.greenbutton2:active {
    width: 90px;
    height: 40px;
    background: #abd3c1;
    border-radius: 4px;
    color: white;
}


/*------------------------------------------*/

/*Empiezo el footer*/

footer {
    background: #1F1815;
    color: white;
}

.mainfooter {
    display: flex;
    flex-direction: column;
    padding: 28px 108px 37.73px 40px;
}

.helpYou {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
}

.helpYouLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 255.33px;
    height: 152px;

}

.helpYouPhone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    padding: 12px 24px;
    background: #515051;
    border-radius: 4px;
}

.helpYouEmail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 11px;
    padding: 12px 24px;
    background: #515051;
    border-radius: 4px;
}

.domain {
    display: flex;
    gap: 7.33px;
}

div.helpYouCenter a,
div.helpYouRight a,
.endfooter a {
    font-size: 14px;
}

.helpYouCenter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 320px;

}

.helpYouRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 120px;
}


.endfooter {
    background: #2B2A2B;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.helpYouLeft {
    font-weight: 300;
    font-size: 18px;
}



/*--------------------------------------------------------------*/

/*Empiezo la tienda*/

/*Le pongo el fondo gris al enlace de tienda*/
a.tienda {
    background: rgba(247, 245, 243, 0.1);
    border-radius: 10px;
    padding: 6px;
}

div.sackSell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    opacity: .4;
}


.redbutton {
    width: 60px;
    height: 32px;
    background-color: rgba(163, 33, 0, 0.747);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: none;
}

h4.otherPages {
    font-weight: 500;
    font-size: 24px;
    color: #2A5B45;
}


/*Voy a hacer el contador de la cesta*/
div.basketCount {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 11px;
}


div.count {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(247, 245, 243, 0.1);
    border-radius: 100%;
    font-size: 12px;
    width: 24px;
    height: 24px;
    padding: 4px;
}


/*-------------------------------------------------------------------------*/
/*Empiezo la cesta*/


/*Ajusto la cabecera sin el nav*/
.phoneBasket {
    display: flex;
    gap: 46px;
}


/*Meto flex y organizo la estructura de toda la seccion de las cesta*/

.buyBasket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px;
    padding-bottom: 264px;
}

.mainBuyBasket {
    display: flex;
    flex-direction: row;
    gap: 24px
}

.buyProducts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.productToBuy {
    display: flex;
    gap: 24px;
}


.shipping {
    display: flex;
    gap: 16px;
    align-items: center;
}

.shippingName {
    width: 657px;
}

.productCounter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.productName {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 500.34px;
}

.productPrice {
    display: flex;
}

.pay {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background: #F7F5F3;
    height: 250px;

}

.payPrice {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.envio {
    display: flex;
    justify-content: space-between;
}


.total {
    display: flex;
    justify-content: space-between;
}

.iva {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.payChekout {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.payChekout .greenButton {
    display: flex;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    background: #2A5B45;
    border: none;
    border-radius: 4px;
    color: white;
}

.payChekout .whiteButton {
    display: flex;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    border: none;
    border-radius: 4px;
    background-color: #F7F5F3;
    color: #2A5B45;
}



/*Hago las imagene de los sacos pequeñas*/
.smallBag {
    width: 55.66px;
    height: 55.66px;
}


/*Genero el circulo al rededor del 1*/

.productCount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: rgba(42, 91, 69, 0.1);
    border-radius: 200px;
    font-size: 12px;
}

/*Voy a preparar el estilo de los precios*/

.productPrice {
    font-weight: 600;
    font-size: 18px;
}

.productPrice2 {
    font-weight: 600;
    font-size: 14px;
}


/*Letra pequeña del iva*/

.smallIva {
    font-size: 12px;
}

/*Titulo de los envios*/
.shipping h6 {
    font-weight: 600;
    font-size: 14px;
}



/*Estilo de los botones radio*/
input[type="radio"] {
    accent-color: #2A5B45;
    width: 16px;
    height: 16px;
}

.payPrice div {
    font-size: 14px;
}



/*--------------------------------------------------------------*/
/*Empiezo el checkout*/

.checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 40px;
}

.mainCheckout {
    display: flex;
    gap: 24px;
}

.checkoutQuestions {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 24px;
}

.creditCard,
.transfer,
.bizum {
    display: flex;
    align-items: center;
    gap: 16px;
}

.owner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.owner div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.owner .labelRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}


.labelRowDoble,
.labelRow4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}


.shippingAddress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


.shippingAddress div:not(.labelRowDoble, .labelRow4) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


input.small {
    padding: 10px 8px;
    width: 112.25px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}


input.medium {
    padding: 10px 8px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    width: 279px;
}


input.medium2 {
    padding: 10px 8px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    width: 248.5px;
}

input.large,
select.large {
    padding: 10px 8px;
    width: 521px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}